<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <!-- <%- include('../includes/slideshow.ejs') %> -->
    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error">
            <%=errorMessage %>
        </div>
        <% } %>

        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email">E-mail</label>
                <input id="email type=" email" name="email" class="email" value="">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" class="password" value="">
            </div>
            <button class="btn" type="submit">Login</button>
        </form>

    </main>

    <%- include('../includes/end.ejs') %>